  body {
    background: #efdec1;
    font-size: 14px;
    font-family: Verdana, sans-serif;

  }
  .frame{
    width:500px;
    height:350px;
    background:white;
    border-radius:10px;
    margin:0 auto;
  }
  ul {
    list-style-type: none;
	   padding-left: 0;
   }
   li{
     font-size: 14px;
     padding:0;
     height:50px;
     width:450px;
     margin:0 auto;
     border:solid 1px #C0C0C0;
     border-radius:10px;
     margin-bottom:15px;
     line-height:50px;
   }
   .colgreen{
     background-color: rgba(0,128,0,0.1);
   }
   .colred{
     background-color: rgba(128,0,0,0.1);
   }
   span{
     padding-left:10px;
   }
   .colgreen{
     color:green;
     font-weight:bold;

   }
   .colwinered{
     color:#660000;
     font-weight:bold;
   }
   h3{
     width:450px;
     margin:0 auto;
     padding-top:30px;
     padding-bottom:5px;
   }
  .next{
     background:#C0C0C0;
     opacity:0.6;
     box-shadow: 0 5px 0 0 rgba(0,0,0,0.3);

     margin-top:5px;
     text-align:center;
     color:#FFFFFF;
   }
 .open_button{
     display:block;
     font-size: 14px;
     padding:0;
     height:50px;
     width:450px;
     margin:0 auto;
     border-radius:10px;
     margin-bottom:15px;
     line-height:50px;
     text-align:center;
     color:#FFFFFF;
     border:solid 1px #C0C0C0;
     background:#C0C0C0;
     opacity:0.6;
     box-shadow: 0 5px 0 0 rgba(0,0,0,0.3);
   }
.open_button_grey{
  background:#C0C0C0;
  opacity:0.6;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.3);
  }
 .non{
   display: none;
 }
.colblue{
    background-color: rgba(0,0,255,0.7);
    box-shadow: 0 5px 0 0 rgba(0,0,255,1);
    border:solid 1px #0000FF;
  }



.modalFrame{
  position: fixed;
  top: 0;
  left: 480px;
  z-index: 999;
  width:400px;
  height:200px;
  border:solid 1px #C0C0C0;
  background:#FFFFFF;
  border-radius:10px;
  margin:0 auto;
  /*transform: translateY(-300%);
  transition: 0.5s;*/
  visibility: hidden;
  transition: .3s linear;
  transform: translateY(-100%);

}

input:checked ~ .modalFrame{
  visibility: visible;
  transform: translateY(60%);

}

.score{
  width:350px;
  margin:0 auto;
  padding-top:60px;
  padding-bottom:30px;
  text-align:center;
}

.replay{
  width:350px;
  background-color: rgba(0,0,255,0.5);
  box-shadow: 0 4px #000099;
  border-radius:10px;
  text-align:center;
  padding:10px 0;
  margin:0 auto;
  color:#FFFFFF;

}
/*トリガー隠す*/
.tri{
  display: none;
}

.mous{
  background-color: rgba(192,192,192,0.3);
}